#container {
  padding: 0px 40px;
}

body {
  color: #2c3e50;
}

form .toggle {
  float: right;
}

form.login input {
  margin-right: 10px;
}

table {
  width: 100%;
}

table td {
  padding-right: 20px;
}

table tr {
  white-space: pre;
}

.budget-negative, .positive-amount {
  color: #bdc3c7;
}

.budget-over {
  color: #c0392b;
}

.budget-near {
  color: #e67e22;
}

.budget-half {
  color: #f1c40f;
}

.budget-low {
  color: #2ecc71;
}